/* .test {
  display: inline-block;
  background-color: aqua;
} */
.App {
  margin: 120px 100px;
  border-radius: 10px;
  background: linear-gradient(
      132deg,
      rgba(0, 0, 0, 0.2) 17.2%,
      rgba(0, 0, 0, 0) 79.13%
    ),
    linear-gradient(281deg, #34515f 5.93%, #233f4b 60.81%, #24404c 100%);

  /* Shadow_bg small */
  box-shadow: -81px -56px 200px -23px rgba(0, 0, 0, 0.3),
    80px 30px 152px 30px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
  padding-top: 50px;
}
